<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src= "https://unpkg.com/vue"></script>
</head>
<body>
    <div id= "app">
        <input type="text" v-model= "newTask" v-on:keyup.enter= 'addTask'>
        <button @click= "addTask">Add</button>
        <ul>
            <li v-for= 'task in tasks'>{{task}}</li>
        </ul>
    </div>
    <script>
        let app =  new Vue({
            el: '#app',
            data: {
                tasks: [],
                newTask: ''
            },
            methods: {
                addTask: function(){
                    this.tasks.push(this.newTask);
                    this.newTask = '';
                }
            }
        })
    </script>
</body>
</html>